allow qti_init_shell self:capability sys_admin;
allow qti_init_shell device:dir { write create add_name setattr };
allow qti_init_shell device:lnk_file create;
allow qti_init_shell sensors_data_file:file { read write getattr open setattr };
allow qti_init_shell sensors_persist_file:file write;
allow qti_init_shell sensors_data_file:dir write;
allow qti_init_shell unlabeled:dir search;
allow qti_init_shell unlabeled:file { read getattr open };

