# for CMHardwareService access to TapToWake
allow system_server touchpanel_sysfs:file rw_file_perms;
allow system_server touchpanel_sysfs:dir { search };
allow system_server time_daemon:unix_stream_socket connectto;

# for CMHardwareService access to VibratorHW
allow system_server vibeamp_sysfs:file rw_file_perms;

# display tuning
allow system_server display_sysfs:file rw_file_perms;

allow system_server unlabeled:file { rename write setattr unlink };
allow system_server unlabeled:dir { setattr open read getattr write remove_name add_name};

# timerfd
allow system_server rtc_device:chr_file rw_file_perms;


