#ASUS_BSP+++ "add for the wlan 5GHz Tx power by the cap"
service wlanTxCap1 /system/bin/sh /system/etc/init.asus.wlantxcap1.sh
    class late_start
    user root
    group root
    disabled
    oneshot

service wlanTxCap0 /system/bin/sh /system/etc/init.asus.wlantxcap0.sh
    class late_start
    user root
    group root
    disabled
    oneshot

on property:wlan.tx.cap=1
    start wlanTxCap1

on property:wlan.tx.cap=0
    start wlanTxCap0
#ASUS_BSP--- "add for the wlan 5GHz Tx power by the cap"

on post-fs-data
#ASUS_BSP HANS:add for AMAX to FW_UPDATE +++
    chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/driver_ver
    chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/function
    chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/rc_calibration
    chown system system /sys/devices/f9924000.i2c/i2c-2/2-0001/load_fw
    chown system system /sys/android_touch/debug_level
    chown system system /sys/android_touch/diag
    chown system system /sys/android_touch/register
    chown system system /sys/android_touch/reset
    symlink /sys/android_touch/update_progress /data/touch_update_progress
#ASUS_BSP HANS:add for AMAX to FW_UPDATE ---

#ASUS_BSP HANS:add for BMMI +++
    symlink /sys/android_touch/touch_status /data/data/touch_status
#ASUS_BSP HANS:add for BMMI ---

#ASUS_BSP Desmond: sis9257 +++
    chown system system /dev/sis_aegis_touch_device
    chmod 0660 /dev/sis_aegis_touch_device
#ASUS_BSP Desmond: sis9257 ---

#ASUS BSP Wei +++
    rm /data/data/hdmi_status
    symlink /sys/devices/virtual/graphics/fb1/connected /data/data/hdmi_status
    chmod 0777 /data/data/hdmi_status
	
    rm /data/data/sdtp2600_fw_ver
    symlink /sys/devices/f9928000.i2c/i2c-6/6-0074/SDTP2600/fw_ver /data/data/sdtp2600_fw_ver
    chmod 0777 /data/data/sdtp2600_fw_ver
#ASUS BSP Wei ---

# ASUS_BSP +++ widevine ATD
    rm /data/data/widevine_install
    symlink /system/bin/widevine_install /data/data/widevine_install
# ASUS_BSP --- widevine ATD

# ASUS_BSP --- Jiunhau_Wang "[A86][Sensor][NA][Spec] Porting 9-axis sensor"
    chown system system /dev/iio:device0
    chown system system /sys/bus/iio/devices/trigger0/name
    chown system system /sys/bus/iio/devices/iio:device0/accl_enable
    chown system system /sys/bus/iio/devices/iio:device0/accl_matrix
    chown system system /sys/bus/iio/devices/iio:device0/compass_enable
    chown system system /sys/bus/iio/devices/iio:device0/compass_matrix
    chown system system /sys/bus/iio/devices/iio:device0/dmp_on
    chown system system /sys/bus/iio/devices/iio:device0/dev
    chown system system /sys/bus/iio/devices/iio:device0/display_orientation_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_event_int_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_firmware
    chown system system /sys/bus/iio/devices/iio:device0/dmp_int_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_output_rate
    chown system system /sys/bus/iio/devices/iio:device0/event_accel_motion
    chown system system /sys/bus/iio/devices/iio:device0/event_display_orientation
    chown system system /sys/bus/iio/devices/iio:device0/event_tap
    chown system system /sys/bus/iio/devices/iio:device0/firmware_loaded
    chown system system /sys/bus/iio/devices/iio:device0/gyro_enable
    chown system system /sys/bus/iio/devices/iio:device0/gyro_matrix
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_x_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_x_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_y_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_y_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_z_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_z_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_magn_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_magn_x_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_magn_y_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_magn_z_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_quaternion_r_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_quaternion_x_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_quaternion_y_raw
    chown system system /sys/bus/iio/devices/iio:device0/in_quaternion_z_raw
    chown system system /sys/bus/iio/devices/iio:device0/key
    chown system system /sys/bus/iio/devices/iio:device0/motion_lpa_duration
    chown system system /sys/bus/iio/devices/iio:device0/motion_lpa_freq
    chown system system /sys/bus/iio/devices/iio:device0/motion_lpa_on
    chown system system /sys/bus/iio/devices/iio:device0/motion_lpa_threshold
    chown system system /sys/bus/iio/devices/iio:device0/name
    chown system system /sys/bus/iio/devices/iio:device0/pedometer_steps
    chown system system /sys/bus/iio/devices/iio:device0/pedometer_time
    chown system system /sys/bus/iio/devices/iio:device0/power_state
    chown system system /sys/bus/iio/devices/iio:device0/quaternion_on
    chown system system /sys/bus/iio/devices/iio:device0/reg_dump
    chown system system /sys/bus/iio/devices/iio:device0/sampling_frequency
    chown system system /sys/bus/iio/devices/iio:device0/sampling_frequency_available
    chown system system /sys/bus/iio/devices/iio:device0/self_test
    chown system system /sys/bus/iio/devices/iio:device0/tap_min_count
    chown system system /sys/bus/iio/devices/iio:device0/tap_on
    chown system system /sys/bus/iio/devices/iio:device0/tap_threshold
    chown system system /sys/bus/iio/devices/iio:device0/tap_time
    chown system system /sys/bus/iio/devices/iio:device0/temperature
    chown system system /sys/bus/iio/devices/iio:device0/uevent

    chown system system /sys/bus/iio/devices/iio:device0/buffer
    chown system system /sys/bus/iio/devices/iio:device0/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device0/buffer/length

    chown system system /sys/bus/iio/devices/iio:device0/scan_elements
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_type
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_index
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_type

    chown system system /sys/bus/iio/devices/iio:device0/trigger
    chown system system /sys/bus/iio/devices/iio:device0/triggrt/current_trigger

# chmod .....
    chmod 0600 /dev/iio:device0
    chmod 0600 /sys/bus/iio/devices/trigger0/name
    chmod 0600 /sys/bus/iio/devices/iio:device0/accl_enable
    chmod 0600 /sys/bus/iio/devices/iio:device0/accl_matrix
    chmod 0600 /sys/bus/iio/devices/iio:device0/compass_enable
    chmod 0600 /sys/bus/iio/devices/iio:device0/compass_matrix
    chmod 0600 /sys/bus/iio/devices/iio:device0/dmp_on
    chmod 0600 /sys/bus/iio/devices/iio:device0/dev
    chmod 0600 /sys/bus/iio/devices/iio:device0/display_orientation_on
    chmod 0600 /sys/bus/iio/devices/iio:device0/dmp_event_int_on
    chmod 0600 /sys/bus/iio/devices/iio:device0/dmp_firmware
    chmod 0600 /sys/bus/iio/devices/iio:device0/dmp_int_on
    chmod 0600 /sys/bus/iio/devices/iio:device0/dmp_on
    chmod 0600 /sys/bus/iio/devices/iio:device0/dmp_output_rate
    chmod 0600 /sys/bus/iio/devices/iio:device0/event_accel_motion
    chmod 0600 /sys/bus/iio/devices/iio:device0/event_display_orientation
    chmod 0600 /sys/bus/iio/devices/iio:device0/event_tap
    chmod 0600 /sys/bus/iio/devices/iio:device0/firmware_loaded
    chmod 0600 /sys/bus/iio/devices/iio:device0/gyro_enable
    chmod 0600 /sys/bus/iio/devices/iio:device0/gyro_matrix
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_scale
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_x_calibbias
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_x_offset
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_x_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_y_calibbias
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_y_offset
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_y_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_z_calibbias
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_z_offset
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_accel_z_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_anglvel_scale
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_anglvel_x_calibbias
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_anglvel_x_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_anglvel_y_calibbias
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_anglvel_y_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_anglvel_z_calibbias
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_anglvel_z_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_magn_scale
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_magn_x_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_magn_y_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_magn_z_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_quaternion_r_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_quaternion_x_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_quaternion_y_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/in_quaternion_z_raw
    chmod 0600 /sys/bus/iio/devices/iio:device0/key
    chmod 0600 /sys/bus/iio/devices/iio:device0/motion_lpa_duration
    chmod 0600 /sys/bus/iio/devices/iio:device0/motion_lpa_freq
    chmod 0600 /sys/bus/iio/devices/iio:device0/motion_lpa_on
    chmod 0600 /sys/bus/iio/devices/iio:device0/motion_lpa_threshold
    chmod 0600 /sys/bus/iio/devices/iio:device0/name
    chmod 0600 /sys/bus/iio/devices/iio:device0/pedometer_steps
    chmod 0600 /sys/bus/iio/devices/iio:device0/pedometer_time
    chmod 0600 /sys/bus/iio/devices/iio:device0/power_state
    chmod 0600 /sys/bus/iio/devices/iio:device0/quaternion_on
    chmod 0600 /sys/bus/iio/devices/iio:device0/reg_dump
    chmod 0600 /sys/bus/iio/devices/iio:device0/sampling_frequency
    chmod 0600 /sys/bus/iio/devices/iio:device0/sampling_frequency_available
    chmod 0600 /sys/bus/iio/devices/iio:device0/self_test
    chmod 0600 /sys/bus/iio/devices/iio:device0/tap_min_count
    chmod 0600 /sys/bus/iio/devices/iio:device0/tap_on
    chmod 0600 /sys/bus/iio/devices/iio:device0/tap_threshold
    chmod 0600 /sys/bus/iio/devices/iio:device0/tap_time
    chmod 0600 /sys/bus/iio/devices/iio:device0/temperature
    chmod 0600 /sys/bus/iio/devices/iio:device0/uevent

    chmod 0755 /sys/bus/iio/devices/iio:device0/buffer
    chmod 0600 /sys/bus/iio/devices/iio:device0/buffer/enable
    chmod 0600 /sys/bus/iio/devices/iio:device0/buffer/length

    chmod 0755 /sys/bus/iio/devices/iio:device0/scan_elements
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_type
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_en
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_index
    chmod 0600 /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_type

    chmod 0600 /sys/bus/iio/devices/iio:device0/trigger
    chmod 0600 /sys/bus/iio/devices/iio:device0/triggrt/current_trigger

    rm /data/data/gyroscope_status
    rm /data/data/gsensor_status
    rm /data/data/ecompass_status
    rm /data/data/ecompass_phone_i2c
    rm /data/data/gsensor_raw
    rm /data/data/ecompass_raw
# ASUS_BSP --- Jiunhau_Wang "[A86][Sensor][NA][Spec] Porting 9-axis sensor"
